@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to the movie page!</p>
    <a asp-controller="TvShows" asp-action="Index" class="btn btn-primary">View Tv Shows</a>
    <a asp-controller="Statistics" asp-action="Index" class="btn btn-secondary">Movie Statistics</a>
</div>